# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Python requires 4 spaces
[*.py]
indent_size = 4

# Makefiles require Tabs
[Makefile]
indent_style = tab

# Markdown usually looks better with 2 spaces, but can be flexible
[*.md]
trim_trailing_whitespace = false