# Node
node_modules/
.turbo/
dist/
.next/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
db.sqlite3

# Environment
.env
.env.local

# Logs
*.log

# Rust Build Artifacts
target/
**/*.rs.bk

# IDE settings
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup